

<header>
    <h1>carlotorib.io</h1>
</header>

<section>
    <article>
        <div>
            <a href="https://www.linkedin.com/in/carlotoribio/" target="_blank">
                <img class="linkedin" src="/assets/media/linkedin.png" />
            </a>
            <a href="https://github.com/uncarlo/" target="_blank">
                <img class="github" src="/assets/media/github.png" />
            </a>
        </div>
    </article>
</section>

<section>
    <article>
        <div>
            <img src="/assets/under-construction.jpg" />
        </div>
    </article>
</section>

<footer>
    <div class="copyright">
        <label>Copyright © 2022 Carlo Toribio</label>
    </div>
    <div class="poweredByContainer">
        <img class="poweredBy" src="/assets/poweredBy01.png" />
    </div>
</footer>