<section>
    <header>
        <div class="header-container">
            <div class="profile-pic-container">
                <img src="/assets/pics/face4.jpg" />
            </div>

            <div class="info">
                <div class="header-info">
                    <div class="name-role">
                        <label class="title">Carlo Toribio</label>
                        <label class="subtitle">Cloud Enginer / Full Stack Developer</label>
                    </div>
                    <div class="social">
                        <a href="https://www.linkedin.com/in/carlotoribio/" target="_blank">
                            <img class="linkedin" src="/assets/media/linkedin.png" />
                        </a>
                        <a href="https://github.com/uncarlo?tab=repositories" target="_blank">
                           <img class="github" src="/assets/media/github.png" />
                        </a>
                        <a href="mailto:carlo.toribio@gmail.com" target="_blank">
                            <img class="resume" src="/assets/media/email.png" />
                        </a>
                        <!-- <a href="#" target="_blank">
                            <img class="resume" src="/assets/media/resume.png" />
                        </a> -->
                    </div>
                </div>

                <div class="about">
                    Software engineer based in <b>San Diego, California</b>.
                    <br /><br />
                    Currently working as a <b>Cloud Enginer</b>, <b>Solutions Architect</b> & <b>Full-Stack Software
                        Developer</b>.
                    <br /><br />
                    With over 10 years of experience my specialty is back-end and front-end development using a vast
                    array of technologies such as:
                    <b>Angular</b>, <b>React</b>,<b>.NET</b>, <b>Java / Springboot</b>, <b>Android</b>, <b>iOS</b>; as
                    well as cloud computing
                    platforms, such as:
                    <b>Microsoft Azure</b> and <b>Amazon Web Services</b>.
                    <br /><br />
                    My passion is designing and developing sofware products, I thrive on building high quality
                    and efficient systems, that surpass clients expectations.
                </div>
            </div>
        </div>
    </header>
    <article>
        <div class="footer">
            <div class="footer-border">
            </div>
            <div class="copyright">
                <label>Copyright © 2022 Carlo Toribio</label>
            </div>
            <div class="poweredByContainer">
                <img class="poweredBy" src="/assets/poweredBy01.png" />
            </div>
        </div>
    </article>
</section>